*{
    overflow-x: hidden;
    font-family: Roboto;
    font-weight: 700;
}
.bodyl{
    margin-top: 4rem;
}
.intro{
    margin-left: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.para{
    color: #505F98;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.buttons{
    margin-left: 5rem;
}
.vote{
    margin-right: 2rem;
    background-color: #111B47;
    color: whitesmoke;
    border: none;
    width: 8rem;
    height: 3rem;
}
.learn{
    background-color: whitesmoke;
    color: #111B47;
    border-color: #111B47;
    width: 8rem;
    height: 3rem;
}
.we{
    margin-left: 5rem;
    margin-top: 4rem;
}
.wetitle{
    text-align: center;
    margin-top: 2rem;
    color: #111B47;
}
.wepara{
    text-align: center;
    margin-top: 1rem;
    color: #505F98;
}
.card{
    display: flex;
    flex-direction: row;
    border: none;
}
.werow{
    margin-left: .5rem;
}
.wesub{
    display: flex;
    flex-direction: column;
    color: #505F98;
}
.content{
    margin: 1rem;
}
.content h5{
    font-style: italic;
    color: #111B47;
}
.icon{
    padding: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: #37447E;
}
.system{
    margin-left: 5rem;
    margin-top: 4rem;
}
.system h1{
    text-align: center;
    margin-top: 2rem;
    color: #111B47;
}
.systemrow{
     margin-left: .5rem;
}
.systemtext{
    margin-top: 10rem;
}
.systempara{
    display: flex;
    flex-direction: column;
    color: #505F98;
}
.systempic{
    width: 40rem;
    height: auto;
    overflow-y: hidden;
}