<div class="container-fluid bodyl">
  <!-- The Introduction part -->
  <div class="row">
    <div>
      <h1 class="intro">
        <span>Free, fair and </span>
        <span>transparent elections </span>
        <span>anchored on a </span>
        <span>seamless paperless </span>
        <span>system</span>
      </h1>

      <p class="para">
        <span>Democracy is based upon the conviction that there</span>
        <span>are extraordinary possibilities in ordinary people.</span>
        <span>Once people believe in each other, they show up</span>
        <span>for the elections. It is those who show up that</span>
        <span>dictate the outcome of a given election. The life</span>
        <span>line of any democratic soceity is driven forward by</span>
        <span>free, fair and transparent elections which shape</span>
        <span>the destiny of such a society. Simply make it</span>
        <span>happen with <strong>KuraSmart</strong></span>
      </p>
      <div class="buttons">
        <button class="vote">Vote with us</button>
        <button class="learn">Learn More</button>
      </div>
    </div>
    <img src="/assets/yea1.png" alt="" />
  </div>

  <!-- The are we Section -->
  <div class="we">
    <h1 class="wetitle">Are we worth your trust?</h1>
    <p class="wepara">
      Democracy dictates that voting is a basic need and only a voter can deny
      themself these right by failing to vote
    </p>
    <div class="row werow">
      <div class="column-4 card">
        <fa-icon [icon]="faTriangle" class="icon"></fa-icon>
        <div class="content">
          <h5>Reliability</h5>
          <p class="wesub">
            <span>Carry out online elections for your group</span>
            <span>or organization on a onetime basis or</span>
            <span>requirement basis</span>
          </p>
        </div>
      </div>
      <div class="column-4 card">
        <fa-icon [icon]="faProjectDiagram" class="icon"></fa-icon>
        <div class="content">
          <h5>Efficiency</h5>
          <p class="wesub">
            <span>Never again worry about people voting</span>
            <span>twice or other forms of vote </span>
            <span>manipulation. Get results instantly. Dive</span>
            <span>deeper into vote statistics.</span>
          </p>
        </div>
      </div>
      <div class="column-4 card">
        <fa-icon [icon]="faNetworkWired" class="icon"></fa-icon>
        <div class="content">
          <h5>Web Based</h5>
          <p class="wesub">
            <span>No dowload required not configurations</span>
            <span>required. Have you voters vote with just </span>
            <span>a single click on their smart device.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row werow">
      <div class="column-4 card">
        <fa-icon [icon]="faFaceLaughWink" class="icon"></fa-icon>
        <div class="content">
          <h5>An experience like no other</h5>
          <p class="wesub">
            <span>Avoid the hustle of long ques, voter </span>
            <span>identification and authentification </span>
            <span>frustatrations. Bring elections at the </span>
            <span>confirm of your voters living rooms.</span>
          </p>
        </div>
      </div>
      <div class="column-4 card">
        <fa-icon [icon]="faDropletSlash" class="icon"></fa-icon>
        <div class="content">
          <h5>Flexibility</h5>
          <p class="wesub">
            <span>Do you wan’t to carry out your onwn </span>
            <span>elections by yourself on our system or </span>
            <span>we do it for you? The choice is yours.</span>
          </p>
        </div>
      </div>
      <div class="column-4 card">
        <fa-icon [icon]="faStarAndCrescent" class="icon"></fa-icon>
        <div class="content">
          <h5>Trasparency</h5>
          <p class="wesub">
            <span>Receive live updates of votes being cast </span>
            <span>with properly generated, credible, reliable</span>
            <span>and complete analysis.</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- On that Single system -->
  <div class="system">
    <h1>On Just One Single System:</h1>
    <div class="row systemrow">
      <div class="column-6 systemtext">
        <h2>Accessibility</h2>
        <p class="systempara">
          <span
            >Online voting software means that your voters will cast votes
          </span>
          <span
            >from their mobile devices or computer, wherever is easiest.</span
          >
        </p>
      </div>
      <div class="column-6 systempic">
        <img src="/assets/accessibility.png" alt="" class="systempic"/>
      </div>
    </div>

    <div class="row systemrow">
      <div class="column-6 systempic">
        <img src="/assets/auditing.png" alt="" class="systempic"/>
      </div>
      <div class="column-6 systemtext">
        <h2>Vote Auditing</h2>
        <p class="systempara">
          <span>We provide the documentation you need to</span>
          <span>be transparent for high-level legal and </span>
          <span>regulatory requirements. Or for simple, but </span>
          <span>potentially contentious votes. </span>
        </p>
      </div>
    </div>

    <div class="row systemrow">
      <div class="column-6 systemtext">
        <h2>Robust Analytics & Reporting</h2>
        <p class="systempara">
          <span>Real-time analytics show how your votes</span>
          <span>and election results unfold. Detailed </span>
          <span>reporting options allow you to share  </span>
          <span>outcomes with interested parties. </span>
        </p>
      </div>
      <div class="column-6">
        <img src="/assets/analysis.png" alt="" class="systempic" />
      </div>
    </div>
  </div>
</div>
